.container {
  margin-top: 20%;
  display: grid;
  justify-content: center;
}
.link {
  margin-top: 10%;
  display: grid;
  justify-content: center;
  border: 2px #fff solid;
  border-radius: 10px;
}
